[submodule "deps/first/Unreal"]
	path = deps/first/Unreal
	url = git@github.com:MrPoblin/UEPseudo-SMT5V.git
[submodule "deps/first/patternsleuth"]
	path = deps/first/patternsleuth
	url = git@github.com:trumank/patternsleuth.git
